.logo {
  max-width: 150px;
  height: auto;
}

.logo-footer {
  max-width: 100px;
  height: auto;
}

.logo-icon {
  max-width: 50px;
  height: auto;
}

.avatar-Icon {
  max-width: 50px;
  height: auto;
}

.start-30 {
  left: 30% !important;
}

.top-15 {
  top: 15% !important;
}


.bottom-30 {
  bottom: 30% !important;
}