body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  max-width: 100%;
}

.logo {
  max-width: 150px;
  height: auto;
}

.logo-footer {
  max-width: 100px;
  height: auto;
}

.logo-icon {
  max-width: 50px;
  height: auto;
}

.avatar-Icon {
  max-width: 50px;
  height: auto;
}

.bid-table-icon {
  max-width: 75px;
  height: auto;
}

.small-text {
  font-size: 14px;
}

.listing-image {
  max-width: 150px;

  @media (min-width: 768px) {
    max-width: 200px;
  }

  @media (min-width: 992px) {
    max-width: 500px;
  }
}

