body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  max-width: 100%;
}

.logo {
  max-width: 150px;
  height: auto;
}

.logo-footer {
  max-width: 100px;
  height: auto;
}

.logo-icon {
  max-width: 50px;
  height: auto;
}

.avatar-Icon {
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.bid-table-icon {
  max-width: 75px;
  height: auto;
}

.small-text {
  font-size: 14px;
}

.table-striped > tbody > tr:nth-of-type(odd) > * {
  background-color: rgba(139, 69, 255, 0.05); /* light purple tint */
}

.listing-image {
  max-width: 150px;

  @media (min-width: 768px) {
    max-width: 200px;
  }

  @media (min-width: 992px) {
    max-width: 500px;
  }
}

